@import "./graphic-charter.scss";

.iconList {
    background-color: $background-color;
    border: $border;
    border-radius: $border-radius;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-evenly;
    padding: 10px;
}

.iconContainer {
    width: 11%;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: 5px;;
}

.icon {
    width: 100%;
    height: 100%;
    
}