@import "graphic-charter.scss";

.searchBarContainer{
    width: 100%;
}

.searchBar{
    width: 100%;
    padding: 15px;
    background-color: $background-color;
    border: $border;
}

.searchResults{
    max-height: 200px;
    border-radius: calc($border-radius / 2);
    background-color: white;
    border: $border;
}

.searchResult{
    padding: 15px;
    border-bottom: $border;
}